{% extends 'recipes/base.html' %}

{% block content %}
<div class="max-w-2xl mx-auto p-6">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ recipe.title }}</h2>

    <div class="bg-white shadow-md rounded-lg p-8 mb-4">
        <h4 class="mt-4 text-lg font-semibold">Ingredients:</h4>
        <ul class="list-disc list-inside pl-5">
            {% for ingredient in recipe.recipe_ingredients.all %}
                <li>{{ ingredient.quantity }} {{ ingredient.unit }} of {{ ingredient.name }}</li>
            {% endfor %}
        </ul>

        <h4 class="mt-4 text-lg font-semibold">Instructions:</h4>
        <div class="pl-5">
            {{ recipe.instructions|linebreaks }}
        </div>

        <div class="mt-4">
            <p><strong>Diet Type:</strong> {{ recipe.diet_type }}</p>
            <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
        </div>

        <div class="mt-6 flex justify-between items-center">
            <a href="{% url 'home' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Back to Home
            </a>

            <!-- Delete Recipe Form -->
            <form action="{% url 'delete_recipe' recipe.id %}" method="POST" onsubmit="return confirm('Are you sure you want to delete this recipe?');">
                {% csrf_token %}
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Delete Recipe
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
